@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&family=Poppins:wght@400;700&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --icon-grey: hsla(216, 12%, 54%, 0.2);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
    --orange: hsl(25, 97%, 53%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Overpass', sans-serif;
    background-color: var(--very-dark-blue);
    width: 100%;
    height: 100vh;
}

h1 {
    color: white;
    font-size: 25px;
}

p {
    font-size: 15px;
    color: var(--light-grey);
}

.hide {
    z-index: 0;
    left: 20%;
    opacity: 0;
    transition: all 0.5s;
}

.card.fade-back {
    left: 50%;
    top: 50%;
    z-index: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all 0.3s;
}

.card {
    position: absolute;
    width: 400px;
    height: 400px;
    transform: translate(-50%, -50%);
    background-color: var(--dark-blue);
    padding: 30px;
    border-radius: 30px;
    top: 50%;
}

.rating-card {
    left: 50%;
    z-index: 1;
}

.circle-gray-bg {
    width: 45px;
    height: 45px;
    background-color: var(--icon-grey);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.star {
    margin-bottom: 25px;
}

.caption>h1 {
    margin-bottom: 25px;
}

.caption>p {
    line-height: 25px;
}

.caption,
.rating-number {
    margin-bottom: 25px;
}

.rating-number {
    display: flex;
    justify-content: space-between;
    width: 95%;
}

.number:hover {
    background-color: var(--light-grey);
    transition: all 0.5s;
}

.number:hover>p {
    color: white;
}

.number.selected {
    background-color: var(--orange);
}

.number.selected>p {
    color: white;
}

button[type="submit"] {
    width: 90%;
    height: 13%;
    background-color: var(--orange);
    border-color: transparent;
    border-radius: 30px;
    color: white;
    font-family: 'Overpass', sans-serif;
    font-size: 14px;
    margin: 0 10px 20px 10px;
    letter-spacing: 2px;
}

button[type="submit"]:hover {
    background-color: white;
    color: var(--orange);
}

.phone-svg {
    width: 162px;
    height: auto;
}

.hide.thankyou-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    left: 50%;
    opacity: 1;
    z-index: 1;
}

.js-rating-pill {
    background-color: var(--icon-grey);
    width: 50%;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
    margin: 25px 0px;
}

.js-rating-pill-caption {
    color: var(--orange);
}

.caption-center {
    text-align: center;
}

@media screen and (max-width:475px) {
    h1 {
        font-size: 5.3vw;
    }

    p {
        font-size: 3.2vw;
    }

    svg {
        transform: scale(calc(1vw * 1));
    }

    .card {
        width: 85vw;
        height: 85vw;
        padding: 6.3vw;
        border-radius: 7vw;
    }

    .circle-gray-bg {
        width: 9.7vw;
        height: 9.7vw;
    }

    .star {
        margin-bottom: 5.3vw;
    }

    .caption>h1 {
        margin-bottom: 5.3vw;
    }

    .caption>p {
        line-height: 5.3vw;
    }

    .caption,
    .rating-number {
        margin-bottom: 5.3vw;
    }

    button[type="submit"] {
        font-size: 3vw;
        margin: 0 2.2vw 4.3vw 2.2vw;
    }

    .js-rating-pill {
        padding: 1.1vw;
        border-radius: 5vw;
        margin: 5.3vw 0vw;
    }

    .phone-svg {
        width: 35vw;
        height: auto;
    }
}